<section class="about">
    <div class="about-header">
        <h2 class="about-title is-size-2 has-text-weight-bold"> About Stellar </h2>
        <p class="about-content"> More About what it can do for your business </p>
    </div>
    <div class="container-about">
    	<div class="box-wrapper">
    		<div class="box-header">
    			<img class="box-img" src="assets/pixel.png">
    		</div>
    		<div class="box-content">
    		<h3> Clean &amp; Simple </h3>
    		<p> A clean interface is the key to a good looking product. We always like to keep things clean and simple </p>
    		</div>
    	</div>
    </div>
</section>