.staff {
	height: 100vh;
	background-image: url("/assets/staff.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(85%);
}
.icon {
	display: inline-block;
}
.caroussel {
	height: 100%;
}
.is-full {
	height: 100%;
}
.ng2-carouselamos {
	width: 100%;
}

