<header>
                                            <header-navbar>  </header-navbar>
    <div class="header-wrapper">
    <div class="header-title">
        <h1 class="stellar"> 
            {{ appTitle }} 
        </h1>
        <p> 
            {{ appDescription}}
        </p>
    </div>
    <div class="header-intro">
        <a class="button is-rounded is-transparent has-text-weight-bold has-text-white"> LEARN MORE </a>
        <a class="button is-rounded is-black has-text-weight-bold"> WATCH VIDEO </a>
    </div>
    </div>
</header>
                                            <about> </about>


