header {
	background-image: url('/assets/header.jpg');
	filter: brightness(110%);
	background-size: cover;
}
.header-wrapper {
	.header-intro{
		display: flex;
		justify-content: space-around;
		margin-top: 50px;
		width: 25%;
	}
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.header-title {
	line-height: 40px;
	color: white;
	text-align: center;
	.stellar {
	font-size: 4em;
	font-weight: 500;
	word-spacing: 10px;
		}
	}
}

.is-fat {
	padding: 30px;
}



